<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Help</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container-home">
        <section class="container-img">
            <img src="../img/men-pg01.svg" alt="A man with short hair, wearing eyeglasses, dressed in a green formal outfit with a green superhero cape">
        </section>

        <section class="container-welcome">
            <h1>welcome</h1>
            <h2>Thanks for participating in the poll</h2>
            <a href="start.html"><button type="button" id="idButton" onmouseenter="changeTextin()" onmouseout="changeTextout()">Let's go</button></a>
        </section>
    </main>
    <script>
        function changeTextin() {
            let button = document.getElementById("idButton");
            button.innerHTML = "Just Go Ahead";
        }

        function changeTextout() {
            let buttonOut = document.getElementById('idButton');
            buttonOut.innerHTML = "Let's go";
        }
    </script>
</body>
</html>
