<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Help</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container-home">
        <section class="container-img">
            <img src="../img/men-pg01.svg" alt="A man with short hair, wearing eyeglasses, dressed in a green formal outfit with a green superhero cape">
        </section>

        <section class="container-welcome">
            <h1>welcome</h1>
            <h2>Thanks for participating in the poll</h2>
            <button type="button" href="#">Let's go</button>
        </section>
    </main>
</body>
</html>
