<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Help</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container-all">
        <section id="container-img-size">
            <img src="../img/men-pg03.svg" alt="A man with short hair, wearing eyeglasses, dressed in a green formal outfit and working on the computer.">
        </section>

        <div class="container-form-status">
            <section class="container-form-select">
                <form class="container-form-select-option" action="cadastro.php" method="post">
                    <label for="status">What is the status of your account?</label>
                    <select name="status" id="idstatus" required>
                        <option value="status1" selected>I have not created an account yet</option>
                        <option value="status2">I already have credit in my account</option>
                        <option value="status3">I don't know what the status of my account is yet</option>
                    </select>
                </form>
            </section>
            <section class="container-form-radio">
                <form action="cadastro.php" method="post">
                    <h3>In which financial markets do you operate?</h3>
                    <div class="form-radio-input">
                        <input type="radio" name="option" id="idoption1" required>
                        <label for="idoption1">stock market</label>
                    </div>
                    <div class="form-radio-input">
                        <input type="radio" name="option" id="idoption2" required>
                        <label for="idoption2">foreign exchange</label>
                    </div>
                    <div class="form-radio-input">
                        <input type="radio" name="option" id="idoption3" required>
                        <label for="idoption3">commodity</label>
                    </div>
                    <div class="form-radio-input">
                        <input type="radio" name="option" id="idoption4" required>
                        <label for="idoption4">bond market</label>
                    </div>
                    <div class="form-radio-input">
                        <input type="radio" name="option" id="idoption5" required>
                        <label for="idoption5">cryptocurrency market</label>
                    </div>
                </form>
            </section>
            <section>
                <a href="start-pg02.html"><button type="button">Back</button></a>
                <a href="#"><button type="button">Next</button></a>
                <a href="#"><button type="button">Skip</button></a>
            </section>
        </div>
    </main>
</body>
</html>