<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Help</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container-all-2">
        <section id="container-img-size">
            <img src="../img/men-pg06.svg" alt="A man with short hair, wearing eyeglasses, dressed in a green formal outfit and working on the computer.">
        </section>

        <div class="container-form-status">
            <section class="container-form-cad">
                <form action="cadastro.php" method="post">
                    <div class="container-form-cad-text">
                        <label for="idcad1">Full Name:</label>
                        <input type="text" name="cad" id="idcad1" placeholder="Nasser Toghiri" required>
                    </div>
                    <div class="container-form-cad-text">
                        <label for="idcad2">Email:</label>
                        <input type="email" name="cad" id="idcad2" placeholder="N.Toghiri@Gmail.com" required>
                    </div>
                    <div class="container-form-cad-text">
                        <label for="idcad3">Age:</label>
                        <input type="number" name="cad" id="idcad3" placeholder="-- --" required>
                    </div>
                </form>
            </section>
            <section class="container-2buttons">
                <div class="container-buttons-back">
                    <a href="page05.html"><button type="button">Back</button></a>
                </div>
                <div class="container-button-submit">
                    <a href="#" onclick="submitButton()"><button type="submit">Submit</button></a>
                </div>
            </section>
        </div>
    </main>

    <script>
        // buttons
        function submitButton() {
            let textCad = document.querySelector('input[name="cad"]').value.trim();

            if(textCad !=="") {
                window.location.href = 'page07.html';
            }
        }
    </script>
</body>
</html>