<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Help</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container-all">
        <section class="container-img">
            <img src="../img/men-pg02.svg" alt="A man with a thoughtful pose, wearing eyeglasses and dressed in green" width="100%">
        </section>

        <section class="container-info-pg02">
            <h1 id="h1-pg02">Necessities of working in
                financial markets</h1>
                <h2 id="h2-pg02">This research is to find the reasons for the failure of people in financial markets. The results of this survey will be emailed to you along with the analysis of our experienced experts.</h2>
                <div class="button-page2">
                    <a href="index.html"><button type="button">Back to Home</button></a>
                    <a href="#"><button type="button">Fill out the form</button></a>
                </div>
        </section>
    </main>
</body>
</html>
