@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&family=Passion+One&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --button-before: #3EB25E;
    --button-after: #FFFF7D;
}

body {
    min-height: 100vh;
    position: relative;
}

/* main */
.container-all {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1920px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
    .container-all {
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
}

/* image */
.container-img {
    /* border: 1px solid green; */
    margin-right: 50px;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .container-img {
        margin-right: 0;
        margin-top: 50vh;
        margin-bottom: 15px;
    }
}

/*h1 and h2 with button*/
.container-info {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 100px;
    margin: 10px auto;
}

h2 {
    font-size: 26px;
    margin: 10px auto;
}

@media screen and (max-width: 480px) {
    .container-info {
        padding: 2px;
        width: 500px;
    }
    h1 {font-size: 56px;}
    
    h2 {font-size: 20px;}        
}

/*button*/
.container-info button {
    /* border: 1px solid purple; */
    border: none;
    background-color: var(--button-before);
    color: #fff;
    padding: 5px 50px;
    margin-top: 50px;
    border-radius: 35px;
    font-size: 1em;
}

.button-page2 button:hover, .container-info button:hover {
    background-color: var(--button-after);
    color: #000;
    cursor: pointer;
    font-weight: bolder;
}

@media screen and (max-width: 480px) {
    .container-info button { 
        margin-top: 15px;
        margin-bottom: 15px;
    }
}



/*Page 02 - start*/
#container-img-size img {
    /* border: 1px solid darkmagenta; */
    width: 40vw;
    margin-right: 50px;
}

.container-info-pg02 { 
    /* border: 1px solid darkred; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 400px;
}

#h1-pg02 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

#h2-pg02 {
    /* border: 1px solid darkorange; */
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.button-page2 {
    /* border: 1px solid salmon; */
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-page2 button{
    border: none;
    background-color: var(--button-before);
    color: #fff;
    padding: 3.5px 23px;
    border-radius: 35px;
    font-size: 16px;
    width: 180px;
    height: 36px;
}


@media screen and (max-width: 480px) {
    #container-img-size img {
        margin-right: 0px;
        margin-top: 3vh;
        width: 90vw;
    }

    .container-info-pg02 {
        margin-top: 6px;
        height: 312px;
        width: 320px; 
    }
    
    #h1-pg02 { font-size: 30px; }

    #h2-pg02 { 
        width: 300px;
        font-size: 20px;
    }

    .button-page2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 317px;
    }

    .button-page2 button {
        font-size: 13px; 
        width: 142px;
        height: 26px;
    }
}


/* Page 3 - forms status */
.container-form-status {
    /* border: 1px solid lightseagreen; */
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* form status with select and change the arrow*/
.container-form-select {
    /* border: 1px solid lime; */
    position: relative;
    width: 480px;
    margin: 5px 3px;
}

.container-form-select select {
    appearance: none; /* remove the arrow from the select*/
    width: 100%;
    padding: 6px;
    border-radius: 50px;
    border: 1px solid #00000026;
    cursor: pointer;
    margin: 8px 0;
    width: 420px; /*size options*/ 
}

.container-form-select select:focus {
    outline: none;
    border: 1px solid #00000026;
}

.container-form-select:after {
    /* border: 1px solid darkmagenta; */
    content: '\25BC'; /* unicode code for a downward arrow */
    position: absolute;
    top: 60%;
    left: 10px;
    pointer-events: none;
    color: #3eb15f57;
} 

.container-form-select-option label {
    /* border: 1px solid red; */
    font-weight: 700;
    font-size: 26px;
}

.container-form-select-option select {
    /* border: 1px solid brown; */
    font-weight: 400;
    font-size: 19px;
    padding-left: 32px;
}

@media screen and (max-width: 480px) {
    #container-img-size { margin-top: 35vh; }

    .container-form-status {
        margin: 0 3px; 
        width: 318px;
        height: 550px; }

    .container-form-select {
        width: 320px;
        margin: 5px 3px;
    }

    .container-form-select select { width: 319px; }

    .container-form-select:after { top: 50%; }

    .container-form-select-option label { font-size: 16px; }
    
    .container-form-select-option select { font-size: 14px; }
}

/* form radio */
.container-form-radio form {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding-top: 15px;
}

.container-form-radio h3 {
    font-weight: 700;
    font-size: 24px;
}

.form-radio-input {
    /* border: 1px solid blue; */
    margin: 6px 0;
    padding-left: 10px;
    width: 310px;
}

.form-radio-input label {
    line-height: 42px;
    font-weight: 400;
    font-size: 18px;
}

.form-radio-input input[type="radio"] {
    border: 10px solid #3eb15f57;
    appearance: none; /* removing the default appearance of the browser */
    border-radius: 50%;
    margin-top: 4px;
    margin-right: 5px;
}

.form-radio-input input[type="radio"]:checked { border: 10px solid #3EB25E; }

@media screen and (max-width: 480px) {
    .container-form-radio form { width: 317px; }

    .container-form-radio h3 { font-size: 16px; }

    .form-radio-input label { font-size: 14px; }
    
    .form-radio-input input[type="radio"] { border: 8px solid #3eb15f57; }
    
    .form-radio-input input[type="radio"]:checked { border: 8px solid #3EB25E; }
}

/* buttons */
.container-buttons {
    /* border: 1px solid darkgoldenrod; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    height: 90px;
    margin-top: 10px;
}

.container-buttons button {
    border: none;
    background-color: var(--button-before);
    color: #fff;
    border-radius: 35px;
    font-size: 17px;
}

.container-buttons button:hover {
    cursor: pointer;
    color: #000;
    background-color: var(--button-after);
    font-weight: bolder;
}

.container-buttons-back-next {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 430px;
    margin-bottom: 10px;
}

.container-buttons-back-next button {
    width: 198px;
    height: 36px;
}

.container-button-skip button {
    width: 418px;
    height: 36px;
}

@media screen and (max-width: 480px) {
    .container-buttons {
        width: 317px;
        height: 90px;
    }

    .container-buttons button { font-size: 14px; }

    .container-buttons-back-next { width: 317px; }

    .container-buttons-back-next button {
        width: 142px;
        height: 26px;
    }

    .container-button-skip button {
        width: 302px;
        height: 26px;
    }
}